  body {
    background-color: #00FFFF;
    font-family: Sans-Serif;
  }
#blogpost1 {
  background-color: #fadadd;
  border-color: #0000FF;
  border-style: solid;
  padding: 10px;
}

th {
  border: 10%;
  border-color: #000000;
  border-style: solid;
  background-color: #fadadd;
  font-size: 24px;
  padding: 5px;
}

table {
  border-color: #000000;
  border-style: solid;
  size: 80%;
  background-color: #FF69B4;
  position: sticky;top: 0px;
  grid-template-rows: [index] 25% [about me] 25% [about my choices] 25% [Te Houstawa-template] 25%;
}

p {
  font-size: 20px;
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 28px;
}

h1 {
  font-size: 32px;
}