  body {
    background-color: #00FFFF;
    font-family: Sans-Serif;
    text-align: center;
  }
.blogpost1 {
  background-color: #fadadd;
  border: #0000FF solid 3px;
  padding: 10px;
}

.sidebar {
  border: #000000 3px solid;
  background-color: #FF69B4;
  Position:sticky;top: 10%;
}

.topimage {
  max-width: 300px;
  max-height: 450px;
  border-radius: 50%;
  border:#0000FF 3px solid;
  margin-left: auto;
  margin-right: auto;
}

th {
  border: 3px solid #000000;
  background-color: #fadadd;
  font-size: 24px;
  padding: 5px;
}

.topbar {
  border-color: #000000;
  border: 3px solid;
  background-color: #FF69B4;
  position: sticky;top: 0px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 20px;
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 28px;
}

h1 {
  font-size: 32px;
}